<!DOCTYPE html>
<html lang="en">
<head th:replace= "~{/fragments/head.html :: head }"></head>
<body>
    <div th:replace= "~{/fragments/nav.html :: nav}"></div>
    <h1>About us</h1>
    <p>
        At BookAdvisor, we are a team passionate about literature and reading. Our mission is to create a space where book lovers can discover, evaluate, and share their literary experiences. We believe that every book has a story to tell, and we want every reader to have the opportunity to find their next great read.
        
        BookAdvisor is an interactive catalog of books that not only allows users to consult titles, authors, and genres but also gives them the opportunity to rate and comment on their readings. Our goal is to foster a community of readers where opinions and recommendations are valued, thereby facilitating the discovery of new works and authors.
        
        Join us on this literary journey and help us build a vibrant community of readers at BookAdvisor!</p>
</body>
</html>